.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  user-select: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* CSS */
.hero-btn {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  color: #FFFFFF !important;
  cursor: pointer;
  height: 4rem;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.hero-btn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}